<section class="hp-list">
  <div class="container">
    <div class="row gx-6">
      <div class="col-xl-4 col-sm-6">
        <a class="hp-list__item" href="#">
          <div class="hp-list__img">{% include "@images/1.svg" %}</div>
          <div class="hp-list__info">
            <h2 class="h4">Granty</h2>
            <p>
              A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě
              podporujeme region Berounska
            </p>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a class="hp-list__item" href="#">
          <div class="hp-list__img">{% include "@images/2.svg" %}</div>
          <div class="hp-list__info">
            <h2 class="h4">Životné prostredie</h2>
            <p>
              A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě
              podporujeme region Berounska
            </p>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a class="hp-list__item" href="#">
          <div class="hp-list__img">{% include "@images/3.svg" %}</div>
          <div class="hp-list__info">
            <h2 class="h4">Regionálny rozvoj</h2>
            <p>
              A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě
              podporujeme region Berounska
            </p>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a class="hp-list__item" href="#">
          <div class="hp-list__img">{% include "@images/4.svg" %}</div>
          <div class="hp-list__info">
            <h2 class="h4">Ľudia</h2>
            <p>
              A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě
              podporujeme region Berounska
            </p>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a class="hp-list__item" href="#">
          <div class="hp-list__img">{% include "@images/5.svg" %}</div>
          <div class="hp-list__info">
            <h2 class="h4">Analýzy</h2>
            <p>
              A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě
              podporujeme region Berounska
            </p>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-sm-6">
        <a class="hp-list__item" href="#">
          <div class="hp-list__img">{% include "@images/6.svg" %}</div>
          <div class="hp-list__info">
            <h2 class="h4">Zamestnanci</h2>
            <p>
              A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě
              podporujeme region Berounska
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
