<section class="hp-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="hp-list__item">
          <div class="hp-list__img">
            <img src="images/ico/1.svg" loading="lazy" alt="" />
          </div>
          <h2 class="h4">Granty</h2>
          <p>
            A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě podporujeme
            region Berounska
          </p>
          <a href="#" class="link">Více</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="hp-list__item">
          <div class="hp-list__img">
            <img src="images/ico/2.svg" loading="lazy" alt="" />
          </div>
          <h2 class="h4">Životné prostredie</h2>
          <p>
            A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě podporujeme
            region Berounska
          </p>
          <a href="#" class="link">Více</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="hp-list__item">
          <div class="hp-list__img">
            <img src="images/ico/3.svg" loading="lazy" alt="" />
          </div>
          <h2 class="h4">Regionálny rozvoj</h2>
          <p>
            A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě podporujeme
            region Berounska
          </p>
          <a href="#" class="link">Více</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="hp-list__item">
          <div class="hp-list__img">
            <img src="images/ico/4.svg" loading="lazy" alt="" />
          </div>
          <h2 class="h4">Ľudia</h2>
          <p>
            A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě podporujeme
            region Berounska
          </p>
          <a href="#" class="link">Více</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="hp-list__item">
          <div class="hp-list__img">
            <img src="images/ico/5.svg" loading="lazy" alt="" />
          </div>
          <h2 class="h4">Analýzy</h2>
          <p>
            A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě podporujeme
            region Berounska
          </p>
          <a href="#" class="link">Více</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="hp-list__item">
          <div class="hp-list__img">
            <img src="images/ico/6.svg" loading="lazy" alt="" />
          </div>
          <h2 class="h4">Zamestnanci</h2>
          <p>
            A záleží nám na lidech, kteří kolem nás žijí. Dlouhodobě podporujeme
            region Berounska
          </p>
          <a href="#" class="link">Více</a>
        </div>
      </div>
    </div>
  </div>
</section>
