<article class="article pt-lg-10 pt-7">
  <div class="container">
    <div class="article-container">
      <h1 class="h1 text-secondary mb-lg-10 mb-5">
        Výsledky grantu Zasaď strom pro svůj klub
      </h1>
    </div>
    <div class="article__box">
      <ul class="article__tags">
        <li>
          <a class="tag" href="#">12. 10. 2022</a>
        </li>
        <li>
          <a class="tag" href="#">Životní prostředí</a>
        </li>
        <li>
          <a class="tag" href="#">Autor: Františka Černá</a>
        </li>
        <li>
          <a class="tag" href="#">Autorka fotografie: Karel Skočdopole</a>
        </li>
      </ul>
      <div class="article__img">
        <img src="images/content/article.png" loading="lazy" alt="" />
      </div>
    </div>
    <div class="article-container">
      <div class="o-content mb-lg-10 mb-5">
        <div class="perex">
          Odborná porota rozhodla, milionový grant je rozdělený. Nové stromy na
          podzim vyrostou u 24 fotbalových hřišť a sportovišť napříč celou zemí.
          Kde se díky podpoře z našeho grantu bude sázet?
        </div>
        <p>
          Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení lokálních
          komunit a širší veřejnosti do sázení stromů a zvýšení zájmu obyvatel o
          prostředí, v němž žijí. O grant mohly požádat sportovní kluby, spolky,
          obce a svazky obcí a obecně prospěšné společnosti. Výše příspěvku na
          výsadbu je až 50 tisíc korun s tím, že stejnou výši obdrží v případě
          zájmu žadatelé na údržbu trávníku na jejich sportovišti.
        </p>
        <p>
          Přihlášky do výzvy se scházely rychle. „Zájem o náš grant jen
          potvrzuje, že sportovní kluby nejsou v místě působení důležité jen
          kvůli sportu samotnému, ale zejména na malých vesnicích se starají
          také o údržbu krajiny kolem svých hřišť, která často slouží pro členy
          klubu a další místní obyvatele jako prostory pro další spolkové
          činnosti,“ říká jeden ze členů odborné komise, Jiří Hadrava.
        </p>
        <p>
          Ještě než padl verdikt poroty, zapojili jsme do hodnocení i sportovní
          nadšence z komunity sázkařů Tipsportu. Hlasováním mohli rozhodnout o
          třech sportovních klubech, které získají grant bez ohledu na
          rozhodnutí odborné komise. V hlasování naši sázkaři udělili divoké
          karty pro 1. FC Žamberk z.s. (16 % hlasů), Tělovýchovnou jednota
          Mikulčice, z.s. (12 % hlasů) a TJ Sokol Železnice z.s. (9 % hlasů).
        </p>
        <p>
          Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
          grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
          žádaly, protože zcela nesplnily kritéria nebo by přesáhly maximální
          možnou hodnotu grantu.
        </p>
        <p>
          Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
          dostanou kluby pro údržbu svých trávníků.
        </p>
        <h4>Tři divoké karty</h4>
        <p>
          Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení lokálních
          komunit a širší veřejnosti do sázení stromů a zvýšení zájmu obyvatel o
          prostředí, v němž žijí. O grant mohly požádat sportovní kluby, spolky,
          obce a svazky obcí a obecně prospěšné společnosti. Výše příspěvku na
          výsadbu je až 50 tisíc korun s tím, že stejnou výši obdrží v případě
          zájmu žadatelé na údržbu trávníku na jejich sportovišti.
        </p>
        <p>
          Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
          grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
          žádaly, protože zcela nesplnily kritéria nebo by přesáhly maximální
          možnou hodnotu grantu.
        </p>
        <p>
          Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
          dostanou kluby pro údržbu svých trávníků.
        </p>
        <h4>Odrážkový seznam</h4>
        <ul>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Milion korun</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
        </ul>
      </div>
      <ul class="article-gallery">
        <li>
          <a data-gallery="1" data-gallery-id="1" href="#">
            <img src="images/content/post-1.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a data-gallery="1" data-gallery-id="1" href="#">
            <img src="images/content/post-1.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a data-gallery="1" data-gallery-id="1" href="#">
            <img src="images/content/post-1.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a data-gallery="1" data-gallery-id="1" href="#">
            <img src="images/content/post-1.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a data-gallery="1" data-gallery-id="1" href="#">
            <div class="number">
              <span>34</span>
              dalších
            </div>
            <img src="images/content/post-1.png" loading="lazy" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
