<section class="helps-detail">
  <div class="header-section">
    <div class="container">
      <div class="header-section__wrapper">
        <h1 class="h1">Ako pomáháme</h1>
      </div>
    </div>
  </div>
  <div class="helps-detail__menu">
    <div class="container">
      <ul class="helps-detail__tabs">
        <li class="">
          <a class="tab" data-id="prostredi" href="#"> Životní prostredie </a>
        </li>
        <li class="">
          <a class="tab active" data-id="rozvoj" href="#">
            Regionálny rozvoj
          </a>
        </li>
        <li class="">
          <a class="tab" data-id="lide" href="#"> Ľudia </a>
        </li>
        <li class="">
          <a class="tab" data-id="analyzy" href="#"> Analýzy </a>
        </li>
        <li>
          <a class="tab" data-id="zamestnanci" href="#">Zamestnanci</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="helps-detail__wrap" id="prostredi">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Eko inkubátory</a></li>
        <li class="breadcrumb-item active">
          Spolupraca regionálnymi nadáciami
        </li>
      </ol>
      <div class="helps-menu__inner row">
        <div class="col-lg-8 m-auto">
          <div class="o-content">
            <div class="perex">
              Odborná porota rozhodla, milionový grant je rozdělený. Nové stromy
              na podzim vyrostou u 24 fotbalových hřišť a sportovišť napříč
              celou zemí. Kde se díky podpoře z našeho grantu bude sázet?
            </div>
            <p>
              Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení
              lokálních komunit a širší veřejnosti do sázení stromů a zvýšení
              zájmu obyvatel o prostředí, v němž žijí. O grant mohly požádat
              sportovní kluby, spolky, obce a svazky obcí a obecně prospěšné
              společnosti. Výše příspěvku na výsadbu je až 50 tisíc korun s tím,
              že stejnou výši obdrží v případě zájmu žadatelé na údržbu trávníku
              na jejich sportovišti.
            </p>
            <img
              src="https://www.nadacetipsport.cz/wp-content/uploads/2022/07/Sazime_na_ceske_sady_1240x600px_v02.jpg"
              loading="lazy"
              title="Sazime_na_ceske_sady_1240x600px_v02"
              alt=""
            />
            <p>
              Přihlášky do výzvy se scházely rychle. „Zájem o náš grant jen
              potvrzuje, že sportovní kluby nejsou v místě působení důležité jen
              kvůli sportu samotnému, ale zejména na malých vesnicích se starají
              také o údržbu krajiny kolem svých hřišť, která často slouží pro
              členy klubu a další místní obyvatele jako prostory pro další
              spolkové činnosti,“ říká jeden ze členů odborné komise, Jiří
              Hadrava.
            </p>
            <p>
              Ještě než padl verdikt poroty, zapojili jsme do hodnocení i
              sportovní nadšence z komunity sázkařů Tipsportu. Hlasováním mohli
              rozhodnout o třech sportovních klubech, které získají grant bez
              ohledu na rozhodnutí odborné komise. V hlasování naši sázkaři
              udělili divoké karty pro 1. FC Žamberk z.s. (16 % hlasů),
              Tělovýchovnou jednota Mikulčice, z.s. (12 % hlasů) a TJ Sokol
              Železnice z.s. (9 % hlasů).
            </p>
            <p>
              Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
              grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
              žádaly, protože zcela nesplnily kritéria nebo by přesáhly
              maximální možnou hodnotu grantu.
            </p>
            <p>
              Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
              dostanou kluby pro údržbu svých trávníků.
            </p>
            <h4>Odrážkový seznam</h4>
            <ul>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
            </ul>
            <a href="#" class="link m-0">Přihlásit se do grantu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="helps-detail__wrap tab-active" id="rozvoj">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Eko inkubátory</a></li>
        <li class="breadcrumb-item active">
          Spolupraca regionálnymi nadáciami
        </li>
      </ol>
      <div class="helps-menu__inner row">
        <div class="col-lg-8 m-auto">
          <div class="o-content">
            <div class="perex">
              Odborná porota rozhodla, milionový grant je rozdělený. Nové stromy
              na podzim vyrostou u 24 fotbalových hřišť a sportovišť napříč
              celou zemí. Kde se díky podpoře z našeho grantu bude sázet?
            </div>
            <p>
              Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení
              lokálních komunit a širší veřejnosti do sázení stromů a zvýšení
              zájmu obyvatel o prostředí, v němž žijí. O grant mohly požádat
              sportovní kluby, spolky, obce a svazky obcí a obecně prospěšné
              společnosti. Výše příspěvku na výsadbu je až 50 tisíc korun s tím,
              že stejnou výši obdrží v případě zájmu žadatelé na údržbu trávníku
              na jejich sportovišti.
            </p>
            <p>
              Přihlášky do výzvy se scházely rychle. „Zájem o náš grant jen
              potvrzuje, že sportovní kluby nejsou v místě působení důležité jen
              kvůli sportu samotnému, ale zejména na malých vesnicích se starají
              také o údržbu krajiny kolem svých hřišť, která často slouží pro
              členy klubu a další místní obyvatele jako prostory pro další
              spolkové činnosti,“ říká jeden ze členů odborné komise, Jiří
              Hadrava.
            </p>
            <p>
              Ještě než padl verdikt poroty, zapojili jsme do hodnocení i
              sportovní nadšence z komunity sázkařů Tipsportu. Hlasováním mohli
              rozhodnout o třech sportovních klubech, které získají grant bez
              ohledu na rozhodnutí odborné komise. V hlasování naši sázkaři
              udělili divoké karty pro 1. FC Žamberk z.s. (16 % hlasů),
              Tělovýchovnou jednota Mikulčice, z.s. (12 % hlasů) a TJ Sokol
              Železnice z.s. (9 % hlasů).
            </p>
            <p>
              Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
              grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
              žádaly, protože zcela nesplnily kritéria nebo by přesáhly
              maximální možnou hodnotu grantu.
            </p>
            <p>
              Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
              dostanou kluby pro údržbu svých trávníků.
            </p>
            <h4>Odrážkový seznam</h4>
            <ul>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
            </ul>
            <a href="#" class="link m-0">Přihlásit se do grantu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="helps-detail__wrap" id="lide">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Eko inkubátory</a></li>
        <li class="breadcrumb-item active">
          Spolupraca regionálnymi nadáciami
        </li>
      </ol>
      <div class="helps-menu__inner row">
        <div class="col-lg-8 m-auto">
          <div class="o-content">
            <div class="perex">
              Odborná porota rozhodla, milionový grant je rozdělený. Nové stromy
              na podzim vyrostou u 24 fotbalových hřišť a sportovišť napříč
              celou zemí. Kde se díky podpoře z našeho grantu bude sázet?
            </div>
            <p>
              Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení
              lokálních komunit a širší veřejnosti do sázení stromů a zvýšení
              zájmu obyvatel o prostředí, v němž žijí. O grant mohly požádat
              sportovní kluby, spolky, obce a svazky obcí a obecně prospěšné
              společnosti. Výše příspěvku na výsadbu je až 50 tisíc korun s tím,
              že stejnou výši obdrží v případě zájmu žadatelé na údržbu trávníku
              na jejich sportovišti.
            </p>
            <p>
              Přihlášky do výzvy se scházely rychle. „Zájem o náš grant jen
              potvrzuje, že sportovní kluby nejsou v místě působení důležité jen
              kvůli sportu samotnému, ale zejména na malých vesnicích se starají
              také o údržbu krajiny kolem svých hřišť, která často slouží pro
              členy klubu a další místní obyvatele jako prostory pro další
              spolkové činnosti,“ říká jeden ze členů odborné komise, Jiří
              Hadrava.
            </p>
            <p>
              Ještě než padl verdikt poroty, zapojili jsme do hodnocení i
              sportovní nadšence z komunity sázkařů Tipsportu. Hlasováním mohli
              rozhodnout o třech sportovních klubech, které získají grant bez
              ohledu na rozhodnutí odborné komise. V hlasování naši sázkaři
              udělili divoké karty pro 1. FC Žamberk z.s. (16 % hlasů),
              Tělovýchovnou jednota Mikulčice, z.s. (12 % hlasů) a TJ Sokol
              Železnice z.s. (9 % hlasů).
            </p>
            <p>
              Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
              grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
              žádaly, protože zcela nesplnily kritéria nebo by přesáhly
              maximální možnou hodnotu grantu.
            </p>
            <p>
              Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
              dostanou kluby pro údržbu svých trávníků.
            </p>
            <h4>Odrážkový seznam</h4>
            <ul>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
            </ul>
            <a href="#" class="link m-0">Přihlásit se do grantu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="helps-detail__wrap" id="analyzy">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Eko inkubátory</a></li>
        <li class="breadcrumb-item active">
          Spolupraca regionálnymi nadáciami
        </li>
      </ol>
      <div class="helps-menu__inner row">
        <div class="col-lg-8 m-auto">
          <div class="o-content">
            <div class="perex">
              Odborná porota rozhodla, milionový grant je rozdělený. Nové stromy
              na podzim vyrostou u 24 fotbalových hřišť a sportovišť napříč
              celou zemí. Kde se díky podpoře z našeho grantu bude sázet?
            </div>
            <p>
              Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení
              lokálních komunit a širší veřejnosti do sázení stromů a zvýšení
              zájmu obyvatel o prostředí, v němž žijí. O grant mohly požádat
              sportovní kluby, spolky, obce a svazky obcí a obecně prospěšné
              společnosti. Výše příspěvku na výsadbu je až 50 tisíc korun s tím,
              že stejnou výši obdrží v případě zájmu žadatelé na údržbu trávníku
              na jejich sportovišti.
            </p>
            <p>
              Přihlášky do výzvy se scházely rychle. „Zájem o náš grant jen
              potvrzuje, že sportovní kluby nejsou v místě působení důležité jen
              kvůli sportu samotnému, ale zejména na malých vesnicích se starají
              také o údržbu krajiny kolem svých hřišť, která často slouží pro
              členy klubu a další místní obyvatele jako prostory pro další
              spolkové činnosti,“ říká jeden ze členů odborné komise, Jiří
              Hadrava.
            </p>
            <p>
              Ještě než padl verdikt poroty, zapojili jsme do hodnocení i
              sportovní nadšence z komunity sázkařů Tipsportu. Hlasováním mohli
              rozhodnout o třech sportovních klubech, které získají grant bez
              ohledu na rozhodnutí odborné komise. V hlasování naši sázkaři
              udělili divoké karty pro 1. FC Žamberk z.s. (16 % hlasů),
              Tělovýchovnou jednota Mikulčice, z.s. (12 % hlasů) a TJ Sokol
              Železnice z.s. (9 % hlasů).
            </p>
            <p>
              Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
              grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
              žádaly, protože zcela nesplnily kritéria nebo by přesáhly
              maximální možnou hodnotu grantu.
            </p>
            <p>
              Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
              dostanou kluby pro údržbu svých trávníků.
            </p>
            <h4>Odrážkový seznam</h4>
            <ul>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
            </ul>
            <a href="#" class="link m-0">Přihlásit se do grantu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="helps-detail__wrap" id="zamestnanci">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Eko inkubátory</a></li>
        <li class="breadcrumb-item active">
          Spolupraca regionálnymi nadáciami
        </li>
      </ol>
      <div class="helps-menu__inner row">
        <div class="col-lg-8 m-auto">
          <div class="o-content">
            <div class="perex">
              Odborná porota rozhodla, milionový grant je rozdělený. Nové stromy
              na podzim vyrostou u 24 fotbalových hřišť a sportovišť napříč
              celou zemí. Kde se díky podpoře z našeho grantu bude sázet?
            </div>
            <p>
              Hlavním cílem grantu Zasaď strom pro svůj klub je zapojení
              lokálních komunit a širší veřejnosti do sázení stromů a zvýšení
              zájmu obyvatel o prostředí, v němž žijí. O grant mohly požádat
              sportovní kluby, spolky, obce a svazky obcí a obecně prospěšné
              společnosti. Výše příspěvku na výsadbu je až 50 tisíc korun s tím,
              že stejnou výši obdrží v případě zájmu žadatelé na údržbu trávníku
              na jejich sportovišti.
            </p>
            <p>
              Přihlášky do výzvy se scházely rychle. „Zájem o náš grant jen
              potvrzuje, že sportovní kluby nejsou v místě působení důležité jen
              kvůli sportu samotnému, ale zejména na malých vesnicích se starají
              také o údržbu krajiny kolem svých hřišť, která často slouží pro
              členy klubu a další místní obyvatele jako prostory pro další
              spolkové činnosti,“ říká jeden ze členů odborné komise, Jiří
              Hadrava.
            </p>
            <p>
              Ještě než padl verdikt poroty, zapojili jsme do hodnocení i
              sportovní nadšence z komunity sázkařů Tipsportu. Hlasováním mohli
              rozhodnout o třech sportovních klubech, které získají grant bez
              ohledu na rozhodnutí odborné komise. V hlasování naši sázkaři
              udělili divoké karty pro 1. FC Žamberk z.s. (16 % hlasů),
              Tělovýchovnou jednota Mikulčice, z.s. (12 % hlasů) a TJ Sokol
              Železnice z.s. (9 % hlasů).
            </p>
            <p>
              Odborná komise rozhodla o podpoře dalších 21 subjektů, které se do
              grantu přihlásily. Jen čtyři z nich nezískají plnou částku, kterou
              žádaly, protože zcela nesplnily kritéria nebo by přesáhly
              maximální možnou hodnotu grantu.
            </p>
            <p>
              Na výsadbu tak půjde jeden milion korun a téměř stejnou částku
              dostanou kluby pro údržbu svých trávníků.
            </p>
            <h4>Odrážkový seznam</h4>
            <ul>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
              <li>Na výsadbu tak půjde</li>
              <li>Na výsadbu tak půjde jeden milion korun</li>
            </ul>
            <a href="#" class="link m-0">Přihlásit se do grantu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
