<section class="about-section">
  <div class="header-section">
    <div class="container">
      <div class="header-section__wrapper">
        <h1 class="h1">O nás</h1>
      </div>
    </div>
  </div>
  <div class="about-section__wrapper">
    <div class="container">
      <div class="row g-6 mb-8">
        <div class="col-lg-7">
          <div class="about-section__content">
            <div class="o-content">
              <p>
                Nadace Tipsport byla založena v roce 2017 a působí v České
                republice, ovšem část jejích projektů má přesah i na Slovensko.
                Nadace cílí na podporu a ochranu životního prostředí,
                zkvalitnění života obyvatel Berounska, podporu sportu i
                kulturního dědictví a nezapomíná ani na pomoc zaměstnancům
                holdingu Tipsport.
              </p>
              <p>
                Nadace Tipsport chce zlepšit život všech obyvatel, chce přispět
                svojí činností k lepšímu Česku.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <aside class="aside aside-archive">
            <a href="#" class="aside-archive__img">
              <img
                src="images/content/aside.png"
                loading="lazy"
                alt="reklama"
              />
            </a>
          </aside>
        </div>
      </div>
      <h2 class="h2 text-secondary mb-lg-10 mb-6">Kontakty</h2>
      <div class="row g-6">
        <div class="col-lg-3 col-6">
          <div class="about-section__contact">
            <div class="about-section__contact-img">
              <img src="images/content/aside.png" alt="" />
            </div>
            <h6>Světlana Kárová</h6>
            <ul>
              <li>Projektová manažerka Nadace</li>
              <li>
                <a href="mailto:karova@tipsport.sk">karova@tipsport.sk</a>
              </li>
              <li>
                <a href="telto:+420234234234">234 234 234</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="about-section__contact">
            <div class="about-section__contact-img">
              <img src="images/content/aside.png" alt="" />
            </div>
            <h6>Světlana Kárová</h6>
            <ul>
              <li>Projektová manažerka Nadace</li>
              <li>
                <a href="mailto:karova@tipsport.sk">karova@tipsport.sk</a>
              </li>
              <li>
                <a href="telto:+420234234234">234 234 234</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="about-section__contact">
            <div class="about-section__contact-img">
              <img src="images/content/aside.png" alt="" />
            </div>
            <h6>Světlana Kárová</h6>
            <ul>
              <li>Projektová manažerka Nadace</li>
              <li>
                <a href="mailto:karova@tipsport.sk">karova@tipsport.sk</a>
              </li>
              <li>
                <a href="telto:+420234234234">234 234 234</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="about-section__contact">
            <div class="about-section__contact-img">
              <img src="images/content/aside.png" alt="" />
            </div>
            <h6>Světlana Kárová</h6>
            <ul>
              <li>Projektová manažerka Nadace</li>
              <li>
                <a href="mailto:karova@tipsport.sk">karova@tipsport.sk</a>
              </li>
              <li>
                <a href="telto:+420234234234">234 234 234</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section__price">
    <div class="about-section__count"><span>€</span> 1, 200, 999</div>
    <p>
      Počítadlo finančných príspevkov, ktoré nadácia poskytla počas svojej
      existencie
    </p>
  </div>
  <div class="container">
    <div class="about-section__history">
      <h2 class="h2 text-secondary">Historie nadace</h2>
      <div class="row">
        <div class="col-lg-9 m-auto">
          <div class="about-section__timeline">
            <div class="timeline-empty"></div>
            <div class="timeline-middle"></div>
            <div class="timeline-component timeline-content">
              <h4 class="h4">2022</h4>
              <p>
                Nadace Tipsport byla založena v roce 2017 a působí v České
                republice, ovšem část jejích projektů má přesah i na Slovensko.
              </p>
            </div>
            <div class="timeline-component timeline-content text-md-right">
              <h3 class="h4">2021</h3>
              <p>
                Nadace Tipsport byla založena v roce 2017 a působí v České
                republice, ovšem část jejích projektů má přesah i na Slovensko.
              </p>
            </div>
            <div class="timeline-middle"></div>
            <div class="timeline-empty"></div>

            <div class="timeline-empty"></div>

            <div class="timeline-middle"></div>
            <div class="timeline-component timeline-content">
              <h4 class="h4">2020</h4>
              <p>
                Nadace Tipsport byla založena v roce 2017 a působí v České
                republice, ovšem část jejích projektů má přesah i na Slovensko.
              </p>
            </div>
            <div class="timeline-component timeline-content text-md-right">
              <h4 class="h4">2021</h4>
              <p>
                Nadace Tipsport byla založena v roce 2017 a působí v České
                republice, ovšem část jejích projektů má přesah i na Slovensko.
              </p>
            </div>
            <div class="timeline-middle"></div>
            <div class="timeline-empty"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
