<section class="helps-menu">
  <div class="header-section">
    <div class="container">
      <div class="header-section__wrapper">
        <h1 class="h1">Ako pomáháme</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="helps-menu__inner row g-6">
      <div class="col-xl-4 col-sm-6">
        <div
          class="helps-menu__item"
          style="background-image: url('images/content/post-1.png')"
        >
          <div class="helps-menu__box">
            <h2 class="h4">Životní prostredie</h2>
            <ul class="helps-menu__list">
              <li>
                <a href="#">Sadiť stromy je výhra</a>
              </li>
              <li>
                <a href="#">Granty na výsadby</a>
              </li>
              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div
          class="helps-menu__item"
          style="background-image: url('images/content/post-2.png')"
        >
          <div class="helps-menu__box">
            <h2 class="h4">Regionálny rozvoj</h2>
            <ul class="helps-menu__list">
              <li>
                <a href="#">Sadiť stromy je výhra</a>
              </li>
              <li>
                <a href="#">Granty na výsadby</a>
              </li>
              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div
          class="helps-menu__item"
          style="background-image: url('images/content/post-3.png')"
        >
          <div class="helps-menu__box">
            <h2 class="h4">Ľudia</h2>
            <ul class="helps-menu__list">
              <li>
                <a href="#">Sadiť stromy je výhra</a>
              </li>
              <li>
                <a href="#">Granty na výsadby</a>
              </li>
              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div
          class="helps-menu__item"
          style="background-image: url('images/content/post-1.png')"
        >
          <div class="helps-menu__box">
            <h2 class="h4">Analýzy</h2>
            <ul class="helps-menu__list">
              <li>
                <a href="#">Sadiť stromy je výhra</a>
              </li>
              <li>
                <a href="#">Granty na výsadby</a>
              </li>
              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div
          class="helps-menu__item"
          style="background-image: url('images/content/post-1.png')"
        >
          <div class="helps-menu__box">
            <h2 class="h4">Zamestnanci</h2>
            <ul class="helps-menu__list">
              <li>
                <a href="#">Sadiť stromy je výhra</a>
              </li>

              <li>
                <a href="#">Ako stromy pomáhajú</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
