<section class="contacts-section">
  <div class="header-section">
    <div class="container">
      <div class="header-section__wrapper">
        <h1 class="h1">Kontakty</h1>
      </div>
    </div>
  </div>
  <div class="contacts-section__wrapper">
    <div class="container">
      <div class="row g-6">
        <div class="col-lg-6">
          <div class="contacts-section__content">
            <h2 class="h4">Sídlo nadace:</h2>
            <ul>
              <li>Nadace TIPSPORT</li>
              <li>Politických vězňů 156/21, 266 01 Beroun</li>
            </ul>

            <h3 class="h4">Detašované pracoviště:</h3>
            <ul>
              <li>Nadace TIPSPORT</li>
              <li>Bucharova 2928/14a, 158 00 Praha 13</li>
            </ul>
            <h3 class="h4">
              E-mail: <a href="mailto:nadace@tipsport.cz">nadace@tipsport.cz</a>
            </h3>
            <h3 class="h4">IČ: 06476490</h3>

            <ul>
              <li>
                Nadace je zapsána do Obchodního rejstříku vedeného u Městského
                soudu v Praze, oddíl N, vložka 1548.
              </li>
              <li>Datum zápisu: 3.října 2017</li>
            </ul>
          </div>
          <form class="contacts-section__form">
            <h4 class="h4 text-secondary mb-5">Napište nám</h4>
            <div class="row g-4">
              <div class="col-12">
                <input placeholder="Jméno" type="text" />
              </div>
              <div class="col-lg-6">
                <input placeholder="Jméno" type="text" />
              </div>
              <div class="col-lg-6">
                <input placeholder="Telefon" type="tel" />
              </div>
              <div class="col-12">
                <textarea placeholder="Vaše zpráva" name="" id="" cols="30" rows="10"></textarea>
              </div>
              <button class="link">Odeslat</button>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <aside class="aside aside-archive">
            <a href="#" class="aside-archive__img">
              <img
                src="https://placehold.co/600x668"
                loading="lazy"
                alt="reklama"
              />
            </a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
