<section class="downloads-section">
  <div class="header-section">
    <div class="container">
      <div class="header-section__wrapper">
        <h1 class="h1">Na stahnutie</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="downloads-section__inner">
      <div class="downloads-section__item">
        <div class="downloads-section__icon">
          <img src="images/ico/download.svg" loading="lazy" alt="" />
        </div>
        <div class="downloads-section__box">
          <h2 class="h5">Logo nadace</h2>
          <ul class="downloads-section__list">
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="downloads-section__item">
        <div class="downloads-section__icon">
          <img src="images/ico/download.svg" loading="lazy" alt="" />
        </div>
        <div class="downloads-section__box">
          <h2 class="h5">Výroční zprávy nadace</h2>
          <ul class="downloads-section__list">
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="downloads-section__item">
        <div class="downloads-section__icon">
          <img src="images/ico/download.svg" loading="lazy" alt="" />
        </div>
        <div class="downloads-section__box">
          <h2 class="h5">Všeobecná žádost o podporu projektu</h2>
          <ul class="downloads-section__list">
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Stáhnout</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="downloads-section__item">
        <div class="downloads-section__icon">
          <img src="images/ico/download.svg" loading="lazy" alt="" />
        </div>
        <div class="downloads-section__box">
          <h2 class="h5">Výroční zprávy nadace</h2>
          <ul class="downloads-section__list">
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="downloads-section__item">
        <div class="downloads-section__icon">
          <img src="images/ico/download.svg" loading="lazy" alt="" />
        </div>
        <div class="downloads-section__box">
          <h2 class="h5">Výroční zprávy nadace</h2>
          <ul class="downloads-section__list">
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
            <li>
              <a href="images/ico/download.svg" download class="link"
                >Rok 2017 ke stažení</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
