<section class="archive-section">
  <div class="header-section">
    <div class="container">
      <div class="header-section__wrapper">
        <h1 class="h1 mb-4">Novinky</h1>
        <div class="header-section__row">
          <form action="" class="header-section__form header-section__label">
            <div class="header-section__input">
              <input type="text" placeholder="Vyhledejte článek" />
              <button class="header-section__btn">
                <img
                  src="images/ico/search-menu.svg"
                  loading="lazy"
                  alt="search-menu"
                />
              </button>
            </div>
          </form>

          <label class="o-select header-section__label">
            <select class="js-select">
              <option>Kategorie</option>
              <option>Aktuální zprávy</option>
              <option>Rozhovory</option>
              <option>Reportáže</option>
              <option>Mládež</option>
              <option>Tiskové zprávy</option>
              <option>Soutěže a akce pro fanoušky</option>
              <option>Preview k zápasu</option>
              <option>Ohlasy po utkání</option>
              <option>Sledge – článek</option>
              <option>Sledge – reportáž</option>
              <option>Historie</option>
              <option>Fan Club</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="archive-section__wrapper">
    <div class="container">
      <div class="row g-6">
        <div class="col-lg-9">
          {% include "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %}
          <nav aria-label="Další stránky">
            <ul class="pagination">
              <li class="page-item pagination-arrow disabled">
                <a
                  class="page-link"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                >
                  {% include "@images/left.svg" %}
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">22</a></li>
              <li class="page-item pagination-arrow">
                <a class="page-link" href="#">
                  {% include "@images/right.svg" %}
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
          <aside class="aside aside-archive">
            <a href="#" class="aside-archive__ban">
              <img
                src="https://placehold.co/288x620"
                loading="lazy"
                alt="reklama"
              />
            </a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
