<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="#" class="footer__logo">
        <img src="images/ico/logo-f.svg" alt="" loading="lazy" />
      </a>
      <div class="footer__contacts">
        <ul class="footer__contacts-list">
          <li>
            Sídlo nadace: Nadácia TIPSPORT, Jána Kalinčiaka 14, 010 01 Žilina
          </li>
          <li>IČO: 54314399</li>
          <li>
            Kontakt: <a href="mailto:nadace@tipsport.sk">nadace@tipsport.sk</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__list">
        <li>
          <a href="#">Cookies</a>
        </li>
        <li>
          <a href="#">Copyright</a>
        </li>
        <li>
          <a href="#">Fakturační údaje</a>
        </li>
        <li>
          <a href="#">Přístupnost</a>
        </li>
        <li>
          <a href="#">Podmínky použití webu</a>
        </li>
        <li>
          <a href="#">Obchodní podmínky</a>
        </li>
      </ul>
      <div class="copyright">
        Vyrobeno v
        <a href="https://esportsmedia.cz/">
          {% include "@images/esports.svg" %} </a
        >v roce 2023
      </div>
    </div>
  </div>
</footer>
