<div class="post">
  <div class="row g-md-6 g-4">
    <div class="col-md-4">
      <a href="#" class="post__img">
        <img
          src="images/content/article.png"
          loading="lazy"
          title="Sazime_na_ceske_sady_1240x600px_v02"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-8">
      <div class="post__info">
        <a href="#">
          <h2 class="h4">Přijďte za námi na Zažít Beroun</h2>
        </a>

        <p class="mb-4">
          Věříme, že když bude zdravá naše krajina, budeme se mít všichni lépe.
          Věnujeme se proto výsadbám stromů a péčio zeleň ve městech i
          v krajině. Zasazujeme se o rozvoj ekologické mobility a podporujeme
          ochranu životního prostředí a zmírnění dopadů klimatických změn.
        </p>
        <a href="#" class="link">Více</a>
      </div>
    </div>
  </div>
</div>
