<section class="topstory">
  <div class="container">
    <ul class="topstory__inner">
      <li>
        <a href="#">
          <img
            src="https://www.nadacetipsport.cz/wp-content/uploads/2022/07/Zasad_strom_proSvuj_klub_1240x600px_v02.jpg"
            loading="lazy"
            title="Zasad_strom_proSvuj_klub_1240x600px_v02"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#">
          <img
            src="https://www.nadacetipsport.cz/wp-content/uploads/2022/07/Sazime_na_ceske_sady_1240x600px_v02.jpg"
            loading="lazy"
            title="Sazime_na_ceske_sady_1240x600px_v02"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="#">
          <img
            src="https://www.nadacetipsport.cz/wp-content/uploads/2022/03/nextbike-banner.png"
            loading="lazy"
            title="nextbike - baner"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
</section>
