:root {
  --color-light: #fff;
  --color-dark: #1a1919;
  --color-secondary: #92b93c;
  --color-gray: #897e7e;
  --color-dark-gray: #2b2828;
  --transition: all 0.3s;
  --color-light-gray: #e4e4e3;
  --color-blue: #0c63a8;
  --color-primary: #b4d200;
  --color-light-blue: #2297f4;
  --color-green-dark: #467d4b;
}
