{% extends "@components/base/base.twig" %} {% set title = "06.0_article" %} {%
block main %} {% include "@components/article/article.twig" %}
<section class="hp-posts">
  <div class="container">
    <div class="hp-posts__inner">
      <h3 class="h2 mb-4 text-secondary">Další články</h3>
      <div class="row gx-6 gy-10">
        <div class="col-lg-4">
          <div class="hp-post">
            <a href="#" class="hp-post__img mb-5">
              <img src="images/content/post-3.png" loading="lazy" alt="" />
            </a>
            <a href="#" class="h4 mb-2">Přijďte za námi na Zažít Beroun</a>
            <p class="mb-5">
              Věříme, že když bude zdravá naše krajina, budeme se mít všichni
              lépe. Věnujeme se proto výsadbám stromů a péčio zeleň ve městech i
              v krajině. Zasazujeme se o rozvoj ekologické mobility a
              podporujeme ochranu životního prostředí a zmírnění dopadů
              klimatických změn.
            </p>
            <a href="#" class="link m-0">Číst více</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="hp-post">
            <a href="#" class="hp-post__img mb-5">
              <img src="images/content/post-2.png" loading="lazy" alt="" />
            </a>
            <a href="#" class="h4 mb-2">Přijďte za námi na Zažít Beroun</a>
            <p class="mb-5">
              Věříme, že když bude zdravá naše krajina, budeme se mít všichni
              lépe. Věnujeme se proto výsadbám stromů a péčio zeleň ve městech i
              v krajině. Zasazujeme se o rozvoj ekologické mobility a
              podporujeme ochranu životního prostředí a zmírnění dopadů
              klimatických změn.
            </p>
            <a href="#" class="link m-0">Číst více</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="hp-post">
            <a href="#" class="hp-post__img mb-5">
              <img src="images/content/post-1.png" loading="lazy" alt="" />
            </a>
            <a href="#" class="h4 mb-2">Přijďte za námi na Zažít Beroun</a>
            <p class="mb-5">
              Věříme, že když bude zdravá naše krajina, budeme se mít všichni
              lépe. Věnujeme se proto výsadbám stromů a péčio zeleň ve městech i
              v krajině. Zasazujeme se o rozvoj ekologické mobility a
              podporujeme ochranu životního prostředí a zmírnění dopadů
              klimatických změn.
            </p>
            <a href="#" class="link m-0">Číst více</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
